<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shawn.patrick.rice.dhcp.toggle</string>
	<key>connections</key>
	<dict>
		<key>1E2B595E-6C1E-4D6E-806E-2370AD33EA81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B1A9684-9208-48FD-980A-23841D41D8FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B1A9684-9208-48FD-980A-23841D41D8FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA4967F-E7B1-4C49-A1E9-F6A5B4C5BC07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E9BA876-B6F6-4DDA-9BE2-09723F91E680</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA4967F-E7B1-4C49-A1E9-F6A5B4C5BC07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BCA4967F-E7B1-4C49-A1E9-F6A5B4C5BC07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E912C4E3-4830-4DA5-80BD-F9548EFD101C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Sets DHCP to a manual IP or an Automatic IP</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DHCP Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>DHCP Configuration</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E912C4E3-4830-4DA5-80BD-F9548EFD101C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dhcp</string>
				<key>script</key>
				<string>./scripts/script.sh "{query}"</string>
				<key>subtext</key>
				<string>Alter your DHCP Configuration</string>
				<key>title</key>
				<string>DHCP Toggle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E9BA876-B6F6-4DDA-9BE2-09723F91E680</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./scripts/control.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BCA4967F-E7B1-4C49-A1E9-F6A5B4C5BC07</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>configure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1E2B595E-6C1E-4D6E-806E-2370AD33EA81</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./scripts/configure-script.sh "{query}"</string>
				<key>title</key>
				<string>Set Something Here</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B1A9684-9208-48FD-980A-23841D41D8FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Enter a command:

dhcp "auto" or "automatic" as an argument sets the DHCP to auto.
dhcp "man" or "manual" as the argument sets the DHCP to a manual IP address at 192.168.10.* where the * is a randomly generated number between 100 and 255.

You need to type in your user password each time you use this workflow.</string>
	<key>uidata</key>
	<dict>
		<key>1E2B595E-6C1E-4D6E-806E-2370AD33EA81</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3B1A9684-9208-48FD-980A-23841D41D8FA</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4E9BA876-B6F6-4DDA-9BE2-09723F91E680</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>BCA4967F-E7B1-4C49-A1E9-F6A5B4C5BC07</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>E912C4E3-4830-4DA5-80BD-F9548EFD101C</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
