<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shawn.patrick.rice.toggle.dhcp</string>
	<key>connections</key>
	<dict>
		<key>1999CED0-8002-4924-AC61-0A2AF8D85592</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>612DBD4A-1E85-466D-9ED4-923A46789870</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Sets DHCP to a manual IP or an Automatic IP</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle DHCP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dhcp</string>
				<key>subtext</key>
				<string>Arguments: "auto" or "man"</string>
				<key>text</key>
				<string>Toggle DHCP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1999CED0-8002-4924-AC61-0A2AF8D85592</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>scripts/dhcp.toggle.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>612DBD4A-1E85-466D-9ED4-923A46789870</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Enter a command:

dhcp "auto" or "automatic" as an argument sets the DHCP to auto.
dhcp "man" or "manual" as the argument sets the DHCP to a manual IP address at 192.168.10.* where the * is a randomly generated number between 100 and 255.

You need to type in your user password each time you use this workflow.</string>
	<key>uidata</key>
	<dict>
		<key>1999CED0-8002-4924-AC61-0A2AF8D85592</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>612DBD4A-1E85-466D-9ED4-923A46789870</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
