<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shawn.patrick.rice.dhcp.toggle</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1999CED0-8002-4924-AC61-0A2AF8D85592</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA3B68ED-6F29-4199-BA05-0BFCC2DDDDB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA3B68ED-6F29-4199-BA05-0BFCC2DDDDB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E912C4E3-4830-4DA5-80BD-F9548EFD101C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Sets DHCP to a manual IP or an Automatic IP</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DHCP Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dhcp</string>
				<key>subtext</key>
				<string>Arguments: "auto" or IP Address</string>
				<key>text</key>
				<string>Toggle DHCP</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1999CED0-8002-4924-AC61-0A2AF8D85592</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set autoIP to "sudo networksetup -setdnsservers Wi-Fi empty &amp;&amp; sudo networksetup -setdhcp Wi-Fi; echo 'DHCP now using an automatic configuration.'"set manIP to "sudo networksetup -setdnsservers Wi-Fi ${arg%.*}.1 &amp;&amp; sudo networksetup -setmanual Wi-Fi $arg 255.255.255.0 ${arg%.*}.1; echo \"IPv4 : $arg
Subnet : 255.255.255.0
Router : ${arg%.*}.1\""if q is not "" then	tell current application		activate		if contents of q is in {"auto", "automatic"} then			do shell script autoIP password "" with administrator privileges		else			do shell script "arg=" &amp; q &amp; " &amp;&amp; " &amp; manIP password "" with administrator privileges		end if	end tellend if

end alfred_script
</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CA3B68ED-6F29-4199-BA05-0BFCC2DDDDB7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>DHCP Configuration</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E912C4E3-4830-4DA5-80BD-F9548EFD101C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Enter a command:

dhcp "auto" or "automatic" as an argument sets the DHCP to auto.
dhcp IP address as the argument (e.g. dhcp 192.168.1.13) sets the DHCP to a manual IP address. Generally the IP address would be something like 192.168.1.* where the * is a number between 2 and 255, but it varies depending on your router setup.

You need to type in your user password each time you use this workflow.</string>
	<key>uidata</key>
	<dict>
		<key>1999CED0-8002-4924-AC61-0A2AF8D85592</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CA3B68ED-6F29-4199-BA05-0BFCC2DDDDB7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E912C4E3-4830-4DA5-80BD-F9548EFD101C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
